section
  
  section
    h2 Запуск
    +arr
  
  section
    p Сборка презентации осущесвляется парсером разметки <a href="http://pugjs.org">pug</a>  
    pre: code.
      > npm install -g pug
      > pug -w index.pug
    
  section
    p Для тестирования подойдет любой веб сервер для статики
  