section
  h2 Миксины
  p В файле <a href="mixins.pug">mixins.pug</a> заданные некоторые миксины упрощающие оформление:
  ul
    +li <b>+li</b> - появляющийся li элемент
    +li <b>+p</b> - появляющийся параграф
    +li <b>+py</b> - питоноский код 
    +li <b>+arr</b> - стрелка вниз
    +li <b>+note</b> - невидимая заметка