section
  h1 #{title}
  h4 #{subtitle}
  // a(href="#{mai_url}") #{main_url}

section
  h2 План
  ul
    +li Челендж 
    +li Бэкграунд
    +li Проблематика
    +li Технологии
    +li Масштабирование

section
  h2 Челендж
  ul
    +li Пользователь ищет что-то в онлайн магазине
    +li Открывает социальную сеть и видит персональную видео рекламу с теми продуктами, что он только что искал

section
  h2 Нам Требуется
  ul
    +li Генерировать качественный видео-контент
    +li Делать это очень быстро и недорого
    +li В промышленных объёмах

