section

  section
    h2 Проблематика
    ul
      +li Ресурсоемкость
      +li Требует времени
      +li Высокий трафик
      +li Фрагментация
  
  section
    h3 Ресурсоемкость
    ul
      +li Создание и сжатие видео очень ресурсоемкий процесс
      +li Требует высоких вычислительных мощностей
  
  section
    h3 Медленность
    ul
      +li Достигнуть реалтайм генерации очень тяжело достичь
      +li Передача контента по сети также требует времени

  section
    h3 Трафик
    ul
      +li Нужно сразу учитывать объёмы аудитории в пике
      +li Подбирать CDN исходя из геолокации
      +li Подбирать уровень сжатия видео

  section
    h3 Платформы
    ul
      +li Фрагментация устройств и видео-кодеков
      +li Необходимость хранить видео под pc/ios/android
