section

  section
    h2 Технологии
    ul
      +li ffmpeg
      +li blender
      +li after effects
      +li cef
      +li cairo, skia, opengl
  
  section
    h3 ffmpeg / pros
    ul
      +li швейцарский нож для работы с видео на низком уровне
      +li отлично решает задачи конвертации форматов
      +li позволяет решать задачи простого компоузинга
  section
    h3 ffmpeg / cons
    ul
      +li Не подходит для генеративных задач сложнее слайдшоу
      +li Документация сложна в освоении

  section
    h3 blender / pros
    ul
      +li полносценный 3D пакет, с хорошим GPU ускорением
      +li содержит инструменты для нелинейного видео монтажа
      +li полностью автоматизируется на питоне
  section
    h3 blender / cons
    ul
      +li тяжело найти аниматоров

  section
    h3 adobe after effects / pros
    ul
      +li Один из основных инструментов видео-продакшена
      +li Отличное качество рендера
      +li Огромное ко-во стоковых темплейтов
      +li Легко найти аниматора
  section
    h3 adobe after effects / cons
    ul
      +li Тяжелее подается автоматизации
      +li Скорость сильо зависит от "красоты" темплейта 
      +li Windows
  
  section
    h3 cef / pros
    ul
      +li позволяет создавать видео из обычной web-анимации
      +li достаточно быстрo работает, близко к реалтайму
  section
    h3 cef / cons
    ul
      +li качество уступает blender / ae
  
  section
    h3 cairo, skia, opengl
    ul
      +li Низкоуровневые библиотеки для работы с графикой
      +li Позволяют генеррировать видео контент на очень высокой скорости