section
  section
    h2 Кейсы
    ul
      +li Инструменты для создания видео-рекламы
      +li Персонофицированные видео-открытки
      +li Интерактивные видео-инсталляции
      +li Проекты с пользовательским видео
      +li Брендированные видео-чаты
      +li Интерактивные лайв-стримы

  section
    h3 Рекламные инструменты
    ul
      +li Reklamixer (2009)
      +li Рендер фермы After effects / Blender / CEF 
      +li Mobile ad creator
      +li Snapchat ad creator

  section
    h3 Персонофицированные видео-открытки
    ul
      +li Nescafe поздравление
      +li Megafon имя на пляже
      +li GOT - друзья в главных ролях
      +li ... очень много их было

  section
    h3 Интерактив
    ul
      +li LG, Axe, Pepsi, Coca-Cola, Winston, Renault, L'Oreal, Mövenpick
      +li Дополненная реальность
      +li Брендированные игры
      +li Виртуальные примерочные

  section
    h3 Пользовательский контент
    ul
      +li Конкурсы "лучшее видео"
      +li Стилизация / генерация нового контента
      +li Обработка, извлечение инсайтов

  section
    h3 Видео-чаты
    ul
      +li Проекты наподобие чат-рулет
      +li "Смерть в сети"

  section
    h3 Лайв-стримы 
    ul
      +li Генеративный видестрим в которых аудитория влияет на развитие видео-ряда
      +li Дополнение стрима пользовательским интерактивом