- var title    = "Генерация видео"
- var subtitle = "Как получить 1 000 000 роликов за 10 часов"
- var main_url = "https://ailove-lab.github.io/pres/generative-video"
- var email    = "v.seregin@ailove.ru"